<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,600;1,600&display=swap" rel="stylesheet">
    <title>Home</title>
</head>

<body>
    <!-- ----------------------------------HEADER---------------------------------- -->
    <header class="header-index">
        <div class="header-img">
            <img src="/img/index/Logo.png" alt="Logo">
        </div>
        <div class="header-barras">
            <i class="fa-solid fa-bars"></i>
        </div>
    </header>
    <!-- ----------------------------------MAIN---------------------------------- -->
    <main>
        <section  class="main-index">
            <div class="Iphone-14">
                <p class="Iphone-Text-1">Pro.Beyond.</p>
                <div class="Iphone-14-PRO">
                    <p class="Iphone-Text-2">IPhone 14</p>
                    <p class="Iphone-Text-3">Pro</p>
                </div>
                <div class="Iphone-14-description">
                    <p class="Iphone-Text-4">Created to change everything for the better.</p>
                    <p class="Iphone-Text-5">For everyone</p>
                </div>
                <button class="Iphone-button">Shop Now</button>
            </div>
            <img src="/img/index/IphoneImage.png" alt="IphoneImage">
        </section>
        <section class="cascos1">
            <img class="cascos1-img" src="/img/index/cascos1.png" alt="cascos">
            <div class="cascos1-description">
                <div class="cascos1-description-1">
                    <p>Apple AirPods<span> Max</span></p>
                </div>
                <p class="cascos1-description-2">Computation audio. Listen, it's powerful</p>
            </div>
        </section>
        <section class="gafas1">
            <img class="gafas1-img" src="/img/index/gafas.png" alt="gafas">
            <div class="gafas1-description">
                <div class="gafas1-description-1">
                    <p>Apple Vision<span> Pro</span></p>
                </div>
                <p class="gafas1-description-2">An immersive way to experience entertainment</p>
            </div>
        </section>
        <section class="PlayStation">
            <img class="PlayStation-img" src="/img/index/PlayStation.png" alt="PlayStation">
            <div class="PlayStation-description">
                <div class="PlayStation-description-1">
                    <p>Play Station<span>5</span></p>
                </div>
                <p class="PlayStation-description-2">Incredibly powerful CPUs, GPUs, and an SSD with integrated I/0 will redefine your PlayStation experience</p>
            </div>
        </section>

    </main>
    <!-- ----------------------------------FOOTER---------------------------------- -->
    <footer>
    </footer>
</body>

</html>