<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,600;1,600&display=swap" rel="stylesheet">
    <title>Home</title>
</head>

<body>
    <!-- ----------------------------------HEADER---------------------------------- -->
    <header class="header-index">
        <div>
            <img src="/img/index/Logo.png" alt="Logo">
        </div>
        <div>
            <i class="fa-solid fa-bars"></i>
        </div>
    </header>
    <!-- ----------------------------------MAIN---------------------------------- -->
    <main class="main-index">
        <div>
            <p class="Iphone-Text-1">Pro.Beyond.</p>
            <p class="Iphone-Text-2">IPhone 14</p>
            <p class="Iphone-Text-3">PRO</p>
            <p class="Iphone-Text-4">Created to change everything for the better.</p>
            <p class="Iphone-Text-5">For everyone</p>
            <button>Shop Now</button>
        </div>
        <img src="/img/index/IphoneImage.png" alt="IphoneImage">
    </main>
    <!-- ----------------------------------FOOTER---------------------------------- -->
    <footer>

    </footer>
</body>

</html>